@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2E2E2E;
  --foreground: #2E2E2E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* .bg-cover{
  background-image: url('./footer.jpg');
} */

